.cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.card {
  --spacing: 4rem;
  position: relative;
  width: 90vw;
  height: calc(100vh - var(--spacing) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  border-radius: 30px;
  /*   box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); */
  background-color: #fff;
  border: solid 3px #232323;
  /*   not needed right now - but needed when JS kicks in */
  top: var(--spacing);
  z-index: 3;
  padding: 2rem;
  box-sizing: border-box;
}

.card:nth-child(2) {
  top: calc(var(--spacing) * 2);
  z-index: 2;
}

.card:nth-child(3) {
  top: calc(var(--spacing) * 3);
  z-index: 1;
}
