:root {
  --first: #a1ccdc;
  --second: #71b7d5;
  --third: #096b90;
  --forth: #042b44;
  --fifth: #08171e;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--fifth);
}
body {
  margin: 0;
}
h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--fifth);
  text-transform: capitalize;
  background: linear-gradient(
    to right,
    var(--forth),
    var(--first),
    var(--third),
    var(--fifth)
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--first);
  padding: 1rem;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-position 0.5s;
}

h1:hover {
  background-position: 100% 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;

  right: 0;
  z-index: 10000;
  border-bottom: 3px solid var(--fifth);
}
nav {
  background-color: var(--first);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav i {

  display: none !important;
 }
nav h2 {
  margin: 0;
  color: var(--fifth);
}
nav h2 a {
  text-decoration: none;
}
nav h2::first-letter {
  color: var(--third);
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 3rem;
}
nav ul li:hover > * {
  background-color: var(--third);
  color: white;
  transition: 0.5s;
}

nav ul a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

#home {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./images/bulbs.jpg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#bannerContainer {
  background-color: white;
  margin: 0 50px;
}
#aboutMe {
  padding: 50px;
  display: flex;
  gap: 50px;
  min-height: 100vh;
}
#aboutMe h2 {
  font-size: 50px;
}
#aboutMe h2 span {
  -webkit-text-stroke: 1px var(--second);
  -webkit-text-fill-color: white;
}
#aboutMe p span {
  font-weight: 900;
}
#skillsContainer h3 {
  color: var(--third);
}
#projects {
  min-height: 50vh;
  padding: 50px;
  text-align: center;
  background-color: var(--first);
}
#projectsContainer {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 600px) {
  body{
    font-size: 11px;
  }
  #projectsContainer {
    flex-direction: column;
  }
  .projectCard{
    width: 100% !important;
    margin-bottom: 0px !important;

  }
  #aboutMe{
    flex-direction: column;
    padding: 30px;
  }
  ul{
    display: none !important;
  }
  nav i {
   font-size: 25px;
   display: block !important;
  }
}

#dropdown{
position: absolute;
  top: 60px;
  width: 100%;
  left: 0;
  display: none;
}

#dropdown ul{
  display: block !important;
  padding: 0;
  background-color: var(--forth);
  text-align: center;
  padding: 10px;
}
#dropdown ul li{
  margin: 0;
  color: var(--first);
  margin: 10px;

}
#dropdown ul li a{
  color: var(--first);
}
.projectCard{
    width: 30%;
    max-width: 250px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    min-height: 300px;
  }
  
  .projectCard:hover .overlayCard{
    opacity: 1;
    transform: scale(1);
  }
  
  .overlayCard{
    position: absolute;
    background-color: rgba(1, 34, 85, 0.491);
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform .4s ease 0s;
    padding: 20px;

  }
  
  .overlayCard h4{
   margin: 0;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    font-family: Sans-serif;
  }
  .overlayCard p{
  
     color: #fff;
  
   }
  .projectCard img{
    transition: transform .8s ease;
    width: 100%;
    height: 100% ;
    object-fit:cover;
  }
  
  .projectCard:hover img{
    transform: scale(1.1);
  }

.projectCard a {
 text-decoration: none;
 background-color: var(--forth);
 color: white;
 padding: 0.5rem 1rem;
 border-radius: 8px;
 display: inline-block;
 margin-bottom: 1rem;
  }
  
  

#contact {
    min-height: 30vh;
    padding: 50px;
    text-align: center;
  }
  #contact h4 a{
    color: var(--third);
  }

  footer {
    text-align: center;
    background-color: var(--fifth);
    padding: 1rem;
  }
  footer p {
    color: var(--first);
margin: 0;
  }
/* img david */
#davidImgContainer {
  width: 100%;
  min-height: 700px;
}
.c-glitch,
.c-glitch__img {
  background-position: center;
  background-size: 120%;

  background-repeat: no-repeat;
}

.c-glitch {
  min-height: 700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 350px;
}

.c-glitch__img {
  background-blend-mode: none;
  background-color: transparent;
  min-height: 700px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.c-glitch .c-glitch__img:nth-child(n + 2) {
  animation-duration: 3s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.c-glitch .c-glitch__img:nth-child(2) {
  animation-name: glitch-anim-1;
}

.c-glitch .c-glitch__img:nth-child(3) {
  animation-name: glitch-anim-2;
}

.c-glitch .c-glitch__img:nth-child(4) {
  animation-name: glitch-anim-3;
}

.c-glitch .c-glitch__img:nth-child(5) {
  animation-name: glitch-anim-4;
  background-blend-mode: overlay;
  background-color: #af4949;
}

.c-glitch__img:nth-child(n + 2) {
  opacity: 0;
}
@keyframes glitch-anim-1 {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(40px, 0, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  20% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  30% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }

  40% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }

  50% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  55% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  65% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  70% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  80% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  85% {
    clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
  }

  95% {
    clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
  }
}

@keyframes glitch-anim-2 {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }

  10% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }

  15% {
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }

  17% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  19% {
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }

  33% {
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }

  35% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  40% {
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }

  45% {
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }

  49% {
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }

  50% {
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }

  55% {
    clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%);
  }

  60% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  70% {
    clip-path: polygon(0 65%, 100% 65%, 100% 60%, 0 60%);
  }

  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
  }

  90% {
    clip-path: polygon(0 55%, 100% 55%, 100% 65%, 0 65%);
  }
}

@keyframes glitch-anim-3 {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }

  5% {
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }

  11% {
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }

  20% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  25% {
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }

  35% {
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }

  42% {
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }

  48% {
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }

  50% {
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }

  56% {
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }

  61% {
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }

  68% {
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }

  72% {
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }

  77% {
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }

  81% {
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }

  86% {
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }

  90% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  92% {
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }

  94% {
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
}

@keyframes glitch-anim-4 {
  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(10px, 5px, 0);
  }

  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
